<div class="events" id="map_canvas">
	<form class="create-form">
		<div class="form-group">
			<label> Name</label>
			<input ng-model="eventCreate.event.name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Event name"/>

			<label>Doscription </label>
			<textarea ng-model="eventCreate.event.description" class="form-control" rows="3"></textarea>

			<label>Event term</label>
			<div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
				<input ng-model="eventCreate.event.eventTerm" type="text" class="form-control">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"></span>
				</div>
			</div>
			<label>Choose place</label>
			<br>
			<script id="searchBox.template" type="text/ng-template">
				<input class="search-box-input" type="text" placeholder="Search" />
			</script>

			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
				<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
				<ui-gmap-search-box template="searchBox.template" events="searchBox.events"></ui-gmap-search-box>
			</ui-gmap-google-map>

		</div>
	</form>
	<div growl></div>

	<button type="submit" class="btn btn-primary" ng-click="eventCreate.create(eventCreate.event)">Submit</button>

</div>