<div class="left-container">
	<img id="logo" src="../assets/images/logo.png"/>
	<nav class="navigation-menu">
		<ul>
			<li ui-sref-active="active">
				<a ui-sref="app.content.home">HOME</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.content.contact">KONTAKT</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.content.help">POMOC</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.content.about">ABOUT</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.content.events">EVENTS</a>
			</li>

			<li ui-sref-active="active">
				<a ng-if="navigation.isAuthenticated==false" href="#" ng-click="navigation.authenticate('event-management-oauth')">LOGIN</a>
				<a ng-if="navigation.isAuthenticated==true" href="#" ng-click="navigation.logout()">LOGOUT</a>
			</li>
		</ul>
	</nav>
</div>

