<div class="events">
	<div growl></div>
	<nav class="create-event">
		<a ui-sref="app.content.events.create-event">Create new event</a>
	</nav>
	<table class="table">
		<thead class="thead-inverse">
		<tr>
			<th ng-click="events.sortBy('name', events.orderType)">NAME</th>
			<th ng-click="events.sortBy('eventTerm', events.orderType)">TERM</th>
			<th></th>
			<th>SETTING</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="event in events.events" ng-class="{true: 'enable', false: 'disable'}[event.active == true]">
			<th>{{event.name}}</th>
			<th>{{event.eventTerm|date}}</th>
			<th id="active-event-action">
				<a ui-sref="app.content.events.edit-event({eventId: event.id})"> Edit</a>
			</th>
			<th class="setting">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<button ng-if="event.active == true" ng-click="events.disable(event.id)"> Disable</button>
							<button ng-if="event.active == false" ng-click="events.enable(event.id)"> Enable</button>
							<a ui-sref="app.content.events.guests({eventId: event.id})"> Guest</a>
							<a ui-sref="app.content.events.tags({eventId: event.id})"> Tags</a>
							<confirm-modal template="Delete" delete-action="events.delete(event.id)" confirm-message="Czy napewno chcesz usunąć wydarzenie?">DELETE</confirm-modal>
						</li>
					</ul>
				</div>
			</th>
		</tr>
		</tbody>
	</table>
	<div ng-if="events.total > 10" class="pagination-switcher" paging page="events.page" page-size="10" total="events.total" paging-action="events.switchPage({page})"></div>
</div>

