@mixin button-style($background-color) {
	border: 1px solid black;
	color: black;
	background-color: $background-color;
	&:hover {
		color: black;
		background-color: white;
		border: 1px solid black;
	}
}

@mixin create-button {
	margin-top: 40px;
	padding-bottom: 10px;
	a {
		padding: 6px;
		border-radius: 5%;
		background-color: #737373;
		color: white;
		border: 1px solid gray;
		text-decoration: none;
		&:hover {
			background-color: #646464;
			border-color: black;
		}
	}
}

.pagination-switcher {
	color: white;
	position: absolute;
	bottom: 10px;
	ul {
		li {
			a {
				@include button-style(#eeeeee);
			}
			span {
				&:hover {
					background-color: #313131;
				}
				background-color: #313131;
			}
		}
	}
	.active {
		background-color: #313131;
		a {
			background-color: #3f3f3f;
			border-color: black;
			&:hover {
				background-color: #313131;
				border-color: black;
			}
		}
		span {
			&:hover {
				background-color: #313131;
			}
			background-color: #313131;
		}
	}
}

.growl-container.growl-fixed {
	position: absolute;
	margin: 0 auto;
}