.events {
	margin: 0 auto;
	width: 80%;
	table {
		position: relative;
		font-family: arial;
		font-size: 14px;
		font-weight: normal;
		border-collapse: collapse;
		width: 100%;
		margin: 0 auto;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(2n) {
		background-color: #dddddd;
	}
}