.events {
	margin: 0 auto;
	height: 100%;
	width: 80%;

	.create-event {
		margin-top: 40px;
		padding-bottom: 10px;
		a {
			padding: 6px;
			border-radius: 5%;
			background-color: #737373;
			color: white;
			border: 1px solid gray;
			text-decoration: none;
			&:hover {
				background-color: #646464;
				border-color: black;
			}
		}
	}
	.dropdown-menu {
		margin: 0;
		padding: 0;

		li button, li a {
			background-color: #f9fdff;
			width: 100%;
			border: 1px solid black;
			color: black;
			text-align: center;
			font-weight: 400;
			&:hover {
				background-color: #ecf0ff;
			}
		}
	}

	table {
		.thead-inverse {
			background-color: #4b4b4b;
			color: white;
		}
		.disable {
			background-color: #d7d7d7;
		}
		position: relative;
		font-size: 14px;
		font-weight: normal;
		border-collapse: collapse;
		width: 100%;
		margin: 0 auto;
		tbody {
			th {
				vertical-align: middle;
				padding-left: 30px;
			}
			#active-event-action {
				width: 10%;
				a {
					visibility: hidden;
				}
			}
			tr:hover {
				#active-event-action {
					a {
						color: #3b3b3b;
						text-decoration: none;
						visibility: visible;
					}
				}
				background-color: #c7c7c7;
			}
		}
		thead {
			th {
				vertical-align: middle;
				padding-left: 35px;
			}

		}
		.setting {
			padding-left: 45px;
		}
	}

	.edit-form {
		margin-top: 70px;
	}
}