.tags {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	form{
		margin-top: 65px;
	}
	.table {
		width: 80%;
		margin: 0 auto;
		margin-top: 65px;
		box-sizing: border-box;

		.thead-inverse {
			background-color: #4b4b4b;
			color: white;
			th {
				padding-left: 40px;
			}
		}

		tbody {
			tr:nth-child(even) {
				background-color: #efefef;
			}
			th {
				padding-left: 40px;
				width: 40%;
			}
			#active-guest-action {
				width: 20%;
				confirm-modal, a {
					visibility: hidden;
				}
			}
			tr:hover {
				#active-guest-action {
					confirm-modal, a {
						visibility: visible;
					}
				}
				background-color: #c7c7c7;
			}
		}

	}
}